body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-59px;
  width:1169px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:687px;
}
#u2076 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:0px;
  width:396px;
  height:687px;
  display:flex;
}
#u2076 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2077 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:27px;
  width:140px;
  height:30px;
  display:flex;
}
#u2077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2078 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:65px;
  width:308px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u2078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2079 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:490px;
  width:104px;
  height:16px;
  display:flex;
}
#u2079 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2080 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:514px;
  width:228px;
  height:16px;
  display:flex;
}
#u2080 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2081 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:538px;
  width:228px;
  height:16px;
  display:flex;
}
#u2081 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2082 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:291px;
  width:92px;
  height:27px;
  display:flex;
}
#u2082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2083 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:628px;
  width:287px;
  height:40px;
  display:flex;
}
#u2083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2084 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:628px;
  width:287px;
  height:40px;
  display:flex;
}
#u2084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:538px;
  width:287px;
  height:84px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2085 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:73px;
  width:347px;
  height:189px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2086 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:416px;
  width:140px;
  height:28px;
  display:flex;
  font-size:16px;
}
#u2087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:453px;
  width:140px;
  height:28px;
  display:flex;
  font-size:16px;
}
#u2088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-decoration:line-through ;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:423px;
  width:47px;
  height:21px;
  display:flex;
  font-size:10px;
  text-decoration:line-through ;
}
#u2089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:291px;
  width:327px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u2090 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
