body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:769px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:769px;
  display:flex;
}
#u5061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u5062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u5064 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:16px;
  width:9px;
  height:14px;
  display:flex;
}
#u5064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5065 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:11px;
  width:65px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u5065 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5066 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:55px;
  width:335px;
  height:40px;
  display:flex;
}
#u5066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:80px;
}
#u5068 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:106px;
  width:335px;
  height:80px;
  display:flex;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u5068 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 10px 2px 130px;
  box-sizing:border-box;
  width:100%;
}
#u5068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u5069 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:118px;
  width:182px;
  height:56px;
  display:flex;
  line-height:28px;
}
#u5069 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5069_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u5070 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:138px;
  width:14px;
  height:16px;
  display:flex;
}
#u5070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:80px;
}
#u5072 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:186px;
  width:335px;
  height:80px;
  display:flex;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u5072 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 10px 2px 130px;
  box-sizing:border-box;
  width:100%;
}
#u5072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u5073 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:198px;
  width:182px;
  height:56px;
  display:flex;
  line-height:28px;
}
#u5073 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5073_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u5074 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:218px;
  width:14px;
  height:16px;
  display:flex;
}
#u5074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5075 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:125px;
  width:44px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u5075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
