body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:793px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:793px;
  display:flex;
}
#u8482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u8483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u8485 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:16px;
  width:9px;
  height:14px;
  display:flex;
}
#u8485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u8486 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:63px;
  width:168px;
  height:56px;
  display:flex;
  line-height:28px;
}
#u8486 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8486_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u8487 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:736px;
  width:80px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u8487 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8487_img.mouseDown {
}
#u8487.mouseDown {
  opacity:0.7;
}
#u8487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9882352941176471);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8489 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:119px;
  width:335px;
  height:74px;
  display:flex;
}
#u8489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u8490 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:134px;
  width:44px;
  height:44px;
  display:flex;
}
#u8490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9882352941176471);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8491 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:134px;
  width:233px;
  height:14px;
  display:flex;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8491 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8491_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9882352941176471);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.4px;
}
#u8492 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:158px;
  width:46px;
  height:16px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.4px;
}
#u8492 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8494 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:212px;
  width:335px;
  height:236px;
  display:flex;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u8495 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:273px;
  width:48px;
  height:17px;
  display:flex;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u8495 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8495_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u8496 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:273px;
  width:67px;
  height:17px;
  display:flex;
  font-size:12px;
  text-align:right;
}
#u8496 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8496_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8497 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:232px;
  width:96px;
  height:18px;
  display:flex;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8497 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8497_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u8498 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:301px;
  width:48px;
  height:17px;
  display:flex;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u8498 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8498_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u8499 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:302px;
  width:36px;
  height:17px;
  display:flex;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u8499 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8499_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F68C95;
  text-align:right;
}
#u8500 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:273px;
  width:24px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#F68C95;
  text-align:right;
}
#u8500 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8500_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u8501 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:328px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u8501 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8501_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u8502 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:329px;
  width:56px;
  height:17px;
  display:flex;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u8502 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8502_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u8503 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:356px;
  width:48px;
  height:17px;
  display:flex;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u8503 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8503_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u8504 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:357px;
  width:48px;
  height:17px;
  display:flex;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u8504 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8504_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u8505 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:383px;
  width:49px;
  height:14px;
  display:flex;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u8505 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u8506 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:384px;
  width:48px;
  height:17px;
  display:flex;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u8506 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8506_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u8507 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:410px;
  width:49px;
  height:14px;
  display:flex;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u8507 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u8508 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:411px;
  width:112px;
  height:17px;
  display:flex;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u8508 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8508_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
