body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1326px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
  display:flex;
}
#u1469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:25px;
  width:95px;
  height:16px;
  display:flex;
}
#u1470 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:18px;
  width:134px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u1471 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:374px;
  height:1px;
  display:flex;
}
#u1472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:712px;
  width:35px;
  height:35px;
  display:flex;
}
#u1473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:200px;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:68px;
  width:194px;
  height:200px;
  display:flex;
}
#u1474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:457px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:219px;
  width:318px;
  height:457px;
  display:flex;
}
#u1475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:118px;
  width:159px;
  height:61px;
  display:flex;
}
#u1476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:242px;
  width:261px;
  height:45px;
  display:flex;
}
#u1477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:306px;
  width:261px;
  height:45px;
  display:flex;
}
#u1478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:364px;
  width:261px;
  height:45px;
  display:flex;
}
#u1479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:0px;
  width:375px;
  height:750px;
  display:flex;
}
#u1480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:25px;
  width:95px;
  height:16px;
  display:flex;
}
#u1481 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:18px;
  width:134px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u1482 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:54px;
  width:374px;
  height:1px;
  display:flex;
}
#u1483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:200px;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:68px;
  width:194px;
  height:200px;
  display:flex;
}
#u1484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:457px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:219px;
  width:318px;
  height:457px;
  display:flex;
}
#u1485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:118px;
  width:159px;
  height:61px;
  display:flex;
}
#u1486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:403px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:242px;
  width:261px;
  height:403px;
  display:flex;
}
#u1487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:851px;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:0px;
  width:401px;
  height:851px;
  display:flex;
}
#u1488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:610px;
  width:261px;
  height:45px;
  display:flex;
}
#u1489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:610px;
  width:187px;
  height:16px;
  display:flex;
}
#u1490 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:707px;
  width:375px;
  height:1px;
  display:flex;
}
#u1491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:712px;
  width:35px;
  height:35px;
  display:flex;
}
#u1492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:707px;
  width:375px;
  height:1px;
  display:flex;
}
#u1493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:819px;
  width:231px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1494 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:853px;
  width:501px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1495 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:887px;
  width:501px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1496 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:921px;
  width:501px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1497 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
