body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:780px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4077 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  display:flex;
}
#u4077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4078 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:160px;
  width:325px;
  height:170px;
  display:flex;
}
#u4078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4079 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:25px;
  width:95px;
  height:16px;
  display:flex;
}
#u4079 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u4080 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:22px;
  width:95px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u4080 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4081 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:217px;
  width:325px;
  height:37px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4081 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:1px;
  display:flex;
}
#u4082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4083 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:92px;
  width:325px;
  height:28px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4083 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4084 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:179px;
  width:325px;
  height:16px;
  display:flex;
  text-align:center;
}
#u4084 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4085 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:271px;
  width:120px;
  height:30px;
  display:flex;
}
#u4085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4086 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:335px;
  width:325px;
  height:280px;
  display:flex;
}
#u4086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4087 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:370px;
  width:160px;
  height:118px;
  display:flex;
  font-size:20px;
}
#u4087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4088 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:498px;
  width:160px;
  height:16px;
  display:flex;
  text-align:center;
}
#u4088 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4089 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:530px;
  width:120px;
  height:30px;
  display:flex;
}
#u4089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4090 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:82px;
  width:180px;
  height:38px;
  display:flex;
}
#u4090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4091 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:50px;
  width:370px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4091 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4092 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:184px;
  width:180px;
  height:38px;
  display:flex;
}
#u4092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4093 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:152px;
  width:370px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4093 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
