body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  display:flex;
}
#u3085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:1186px;
  display:flex;
}
#u3086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3087 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:25px;
  width:95px;
  height:16px;
  display:flex;
}
#u3087 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3088 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:132px;
  width:114px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3088 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3089_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:5px;
}
#u3089 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:162px;
  width:90px;
  height:2px;
  display:flex;
}
#u3089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3090 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:132px;
  width:85px;
  height:18px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3090 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3091 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:132px;
  width:114px;
  height:18px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3091 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:361px;
}
#u3092 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:177px;
  width:362px;
  height:361px;
  display:flex;
}
#u3092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3093 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:78px;
  width:176px;
  height:41px;
  display:flex;
}
#u3093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3094 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:78px;
  width:176px;
  height:41px;
  display:flex;
}
#u3094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
