body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:773px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:773px;
  display:flex;
}
#u8283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u8284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u8286 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:16px;
  width:9px;
  height:14px;
  display:flex;
}
#u8286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8287 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:11px;
  width:90px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u8287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8289 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:63px;
  width:334px;
  height:121px;
  display:flex;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:32px;
}
#u8290 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:76px;
  width:268px;
  height:96px;
  display:flex;
  line-height:32px;
}
#u8290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8291 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:81px;
  width:132px;
  height:20px;
  display:flex;
  font-size:12px;
}
#u8291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8291_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8292 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:245px;
  width:334px;
  height:76px;
  display:flex;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
  line-height:32px;
}
#u8293 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:194px;
  width:72px;
  height:32px;
  display:flex;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
  line-height:32px;
}
#u8293 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8293_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:44px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u8294 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:717px;
  width:334px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u8294 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8294_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:44px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u8294.mouseDown {
  opacity:0.7;
}
#u8294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8296 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:274px;
  width:94px;
  height:18px;
  display:flex;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8296 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8297 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:276px;
  width:16px;
  height:16px;
  display:flex;
}
#u8297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8297_img.selected {
}
#u8297.selected {
}
#u8297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u8298 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:279px;
  width:18px;
  height:13px;
  display:flex;
}
#u8298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
