body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:773px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:773px;
  display:flex;
}
#u8808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u8809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u8811 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:16px;
  width:9px;
  height:14px;
  display:flex;
}
#u8811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8812 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:11px;
  width:90px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u8812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8814 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:63px;
  width:334px;
  height:121px;
  display:flex;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:32px;
}
#u8815 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:76px;
  width:268px;
  height:96px;
  display:flex;
  line-height:32px;
}
#u8815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8816 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:81px;
  width:132px;
  height:20px;
  display:flex;
  font-size:12px;
}
#u8816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8816_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8817 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:245px;
  width:334px;
  height:76px;
  display:flex;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
  line-height:32px;
}
#u8818 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:194px;
  width:72px;
  height:32px;
  display:flex;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
  line-height:32px;
}
#u8818 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8818_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:44px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u8819 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:717px;
  width:334px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u8819 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8819_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:44px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u8819.mouseDown {
  opacity:0.7;
}
#u8819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8821 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:274px;
  width:94px;
  height:18px;
  display:flex;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8821 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8822 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:276px;
  width:16px;
  height:16px;
  display:flex;
}
#u8822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8822_img.selected {
}
#u8822.selected {
}
#u8822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u8823 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:279px;
  width:18px;
  height:13px;
  display:flex;
}
#u8823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
