body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:408px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:849px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:849px;
  display:flex;
}
#u714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:538px;
  width:349px;
  height:168px;
  display:flex;
}
#u715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:102px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:584px;
  width:112px;
  height:102px;
  display:flex;
}
#u716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:550px;
  width:170px;
  height:16px;
  display:flex;
}
#u717 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:646px;
  width:140px;
  height:40px;
  display:flex;
}
#u718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:590px;
  width:55px;
  height:32px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u719 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:103px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:713px;
  width:370px;
  height:103px;
  display:flex;
}
#u720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:603px;
  width:22px;
  height:16px;
  display:flex;
}
#u721 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:80px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:816px;
  width:438px;
  height:80px;
  display:flex;
}
#u722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
