body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1133px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u2905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:16px;
  width:9px;
  height:14px;
  display:flex;
}
#u2907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:11px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 4px rgba(242, 242, 242, 1);
  -webkit-box-shadow:0px 0px 4px rgba(242, 242, 242, 1);
  box-shadow:0px 0px 4px rgba(242, 242, 242, 1);
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:384px;
  width:375px;
  height:208px;
  display:flex;
}
#u2910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#F68C95;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:492px;
  width:126px;
  height:24px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#F68C95;
}
#u2911 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:340px;
  touch-action:pan-y;
}
#u2912_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:340px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2912_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:340px;
}
#u2913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:340px;
  display:flex;
}
#u2913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2915 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:150px;
  width:40px;
  height:40px;
  display:flex;
}
#u2915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u2916 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:162px;
  width:13px;
  height:17px;
  display:flex;
}
#u2916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2912_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:340px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2912_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:340px;
}
#u2917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:340px;
  display:flex;
}
#u2917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2912_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:340px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2912_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:340px;
}
#u2918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:340px;
  display:flex;
}
#u2918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2912_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:340px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2912_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:341px;
}
#u2919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:341px;
  display:flex;
}
#u2919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.1px;
  line-height:22px;
}
#u2920 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:404px;
  width:335px;
  height:22px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.1px;
  line-height:22px;
}
#u2920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  letter-spacing:0.2px;
  line-height:24px;
}
#u2921 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:458px;
  width:193px;
  height:24px;
  display:flex;
  font-size:13px;
  letter-spacing:0.2px;
  line-height:24px;
}
#u2921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  letter-spacing:0.2px;
  color:rgba(153, 153, 153, 0.9882352941176471);
  line-height:24px;
}
#u2922 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:527px;
  width:335px;
  height:48px;
  display:flex;
  font-size:12px;
  letter-spacing:0.2px;
  color:rgba(153, 153, 153, 0.9882352941176471);
  line-height:24px;
}
#u2922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 238, 237, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F68C95;
}
#u2923 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:493px;
  width:48px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#F68C95;
}
#u2923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6588235294117647);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2925 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:334px;
  width:57px;
  height:28px;
  display:flex;
}
#u2925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2926 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:337px;
  width:8px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u2926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2926_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2927 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:337px;
  width:16px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u2927 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2927_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 4px rgba(242, 242, 242, 1);
  -webkit-box-shadow:0px 0px 4px rgba(242, 242, 242, 1);
  box-shadow:0px 0px 4px rgba(242, 242, 242, 1);
}
#u2929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:790px;
  width:375px;
  height:57px;
  display:flex;
}
#u2929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2930 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:804px;
  width:366px;
  height:49px;
  display:flex;
}
#u2930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2931 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:872px;
  width:200px;
  height:1px;
  display:flex;
}
#u2931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 4px rgba(242, 242, 242, 1);
  -webkit-box-shadow:0px 0px 4px rgba(242, 242, 242, 1);
  box-shadow:0px 0px 4px rgba(242, 242, 242, 1);
}
#u2933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:602px;
  width:375px;
  height:232px;
  display:flex;
}
#u2933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u2935 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:602px;
  width:335px;
  height:56px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u2935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u2937 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:658px;
  width:335px;
  height:56px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u2937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u2938 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:714px;
  width:335px;
  height:64px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u2938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u2939 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:778px;
  width:335px;
  height:56px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u2939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
}
#u2940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:803px;
  width:375px;
  height:58px;
  display:flex;
}
#u2940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2941 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:811px;
  width:100px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2941 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2941_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2941.mouseDown {
  opacity:0.7;
}
#u2941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u2942 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:820px;
  width:19px;
  height:18px;
  display:flex;
}
#u2942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:762px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.6196078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:762px;
  display:flex;
}
#u2943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2944 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:458px;
  width:325px;
  height:206px;
  display:flex;
}
#u2944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2945 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:496px;
  width:251px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2945 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2946 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:469px;
  width:10px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2946 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2947 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:541px;
  width:123px;
  height:40px;
  display:flex;
}
#u2947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2948 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:541px;
  width:123px;
  height:40px;
  display:flex;
}
#u2948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2949 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:458px;
  width:325px;
  height:214px;
  display:flex;
}
#u2949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2950 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:496px;
  width:251px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2950 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2951 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:469px;
  width:10px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2951 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2952 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:541px;
  width:123px;
  height:40px;
  display:flex;
}
#u2952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2953 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:541px;
  width:123px;
  height:40px;
  display:flex;
}
#u2953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2954 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:602px;
  width:300px;
  height:15px;
  display:flex;
}
#u2954 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2955 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:600px;
  width:42px;
  height:19px;
  display:flex;
}
#u2955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2956 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:738px;
  width:325px;
  height:214px;
  display:flex;
}
#u2956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2957 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:776px;
  width:251px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2957 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2958 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:749px;
  width:10px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2958 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2959 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:821px;
  width:123px;
  height:40px;
  display:flex;
}
#u2959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2960 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:821px;
  width:123px;
  height:40px;
  display:flex;
}
#u2960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2961 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:882px;
  width:300px;
  height:15px;
  display:flex;
}
#u2961 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2962 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:880px;
  width:61px;
  height:19px;
  display:flex;
}
#u2962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2963 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:502px;
  width:300px;
  height:170px;
  display:flex;
}
#u2963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2964 label {
  left:0px;
  width:100%;
}
#u2964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u2964 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:527px;
  width:240px;
  height:15px;
  display:flex;
}
#u2964 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2964_img.selected {
}
#u2964.selected {
}
#u2964_img.disabled {
}
#u2964.disabled {
}
#u2964_img.selected.error {
}
#u2964.selected.error {
}
#u2964_img.selected.hint {
}
#u2964.selected.hint {
}
#u2964_img.selected.error.hint {
}
#u2964.selected.error.hint {
}
#u2964_img.mouseOver.selected {
}
#u2964.mouseOver.selected {
}
#u2964_img.mouseOver.selected.error {
}
#u2964.mouseOver.selected.error {
}
#u2964_img.mouseOver.selected.hint {
}
#u2964.mouseOver.selected.hint {
}
#u2964_img.mouseOver.selected.error.hint {
}
#u2964.mouseOver.selected.error.hint {
}
#u2964_img.mouseDown.selected {
}
#u2964.mouseDown.selected {
}
#u2964_img.mouseDown.selected.error {
}
#u2964.mouseDown.selected.error {
}
#u2964_img.mouseDown.selected.hint {
}
#u2964.mouseDown.selected.hint {
}
#u2964_img.mouseDown.selected.error.hint {
}
#u2964.mouseDown.selected.error.hint {
}
#u2964_img.mouseOver.mouseDown.selected {
}
#u2964.mouseOver.mouseDown.selected {
}
#u2964_img.mouseOver.mouseDown.selected.error {
}
#u2964.mouseOver.mouseDown.selected.error {
}
#u2964_img.mouseOver.mouseDown.selected.hint {
}
#u2964.mouseOver.mouseDown.selected.hint {
}
#u2964_img.mouseOver.mouseDown.selected.error.hint {
}
#u2964.mouseOver.mouseDown.selected.error.hint {
}
#u2964_img.focused.selected {
}
#u2964.focused.selected {
}
#u2964_img.focused.selected.error {
}
#u2964.focused.selected.error {
}
#u2964_img.focused.selected.hint {
}
#u2964.focused.selected.hint {
}
#u2964_img.focused.selected.error.hint {
}
#u2964.focused.selected.error.hint {
}
#u2964_img.selected.disabled {
}
#u2964.selected.disabled {
}
#u2964_img.selected.hint.disabled {
}
#u2964.selected.hint.disabled {
}
#u2964_img.selected.error.disabled {
}
#u2964.selected.error.disabled {
}
#u2964_img.selected.error.hint.disabled {
}
#u2964.selected.error.hint.disabled {
}
#u2964_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:223px;
  word-wrap:break-word;
  text-transform:none;
}
#u2964_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2965 label {
  left:0px;
  width:100%;
}
#u2965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u2965 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:561px;
  width:240px;
  height:15px;
  display:flex;
}
#u2965 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2965_img.selected {
}
#u2965.selected {
}
#u2965_img.disabled {
}
#u2965.disabled {
}
#u2965_img.selected.error {
}
#u2965.selected.error {
}
#u2965_img.selected.hint {
}
#u2965.selected.hint {
}
#u2965_img.selected.error.hint {
}
#u2965.selected.error.hint {
}
#u2965_img.mouseOver.selected {
}
#u2965.mouseOver.selected {
}
#u2965_img.mouseOver.selected.error {
}
#u2965.mouseOver.selected.error {
}
#u2965_img.mouseOver.selected.hint {
}
#u2965.mouseOver.selected.hint {
}
#u2965_img.mouseOver.selected.error.hint {
}
#u2965.mouseOver.selected.error.hint {
}
#u2965_img.mouseDown.selected {
}
#u2965.mouseDown.selected {
}
#u2965_img.mouseDown.selected.error {
}
#u2965.mouseDown.selected.error {
}
#u2965_img.mouseDown.selected.hint {
}
#u2965.mouseDown.selected.hint {
}
#u2965_img.mouseDown.selected.error.hint {
}
#u2965.mouseDown.selected.error.hint {
}
#u2965_img.mouseOver.mouseDown.selected {
}
#u2965.mouseOver.mouseDown.selected {
}
#u2965_img.mouseOver.mouseDown.selected.error {
}
#u2965.mouseOver.mouseDown.selected.error {
}
#u2965_img.mouseOver.mouseDown.selected.hint {
}
#u2965.mouseOver.mouseDown.selected.hint {
}
#u2965_img.mouseOver.mouseDown.selected.error.hint {
}
#u2965.mouseOver.mouseDown.selected.error.hint {
}
#u2965_img.focused.selected {
}
#u2965.focused.selected {
}
#u2965_img.focused.selected.error {
}
#u2965.focused.selected.error {
}
#u2965_img.focused.selected.hint {
}
#u2965.focused.selected.hint {
}
#u2965_img.focused.selected.error.hint {
}
#u2965.focused.selected.error.hint {
}
#u2965_img.selected.disabled {
}
#u2965.selected.disabled {
}
#u2965_img.selected.hint.disabled {
}
#u2965.selected.hint.disabled {
}
#u2965_img.selected.error.disabled {
}
#u2965.selected.error.disabled {
}
#u2965_img.selected.error.hint.disabled {
}
#u2965.selected.error.hint.disabled {
}
#u2965_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:223px;
  word-wrap:break-word;
  text-transform:none;
}
#u2965_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2966 label {
  left:0px;
  width:100%;
}
#u2966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u2966 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:596px;
  width:240px;
  height:15px;
  display:flex;
}
#u2966 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2966_img.selected {
}
#u2966.selected {
}
#u2966_img.disabled {
}
#u2966.disabled {
}
#u2966_img.selected.error {
}
#u2966.selected.error {
}
#u2966_img.selected.hint {
}
#u2966.selected.hint {
}
#u2966_img.selected.error.hint {
}
#u2966.selected.error.hint {
}
#u2966_img.mouseOver.selected {
}
#u2966.mouseOver.selected {
}
#u2966_img.mouseOver.selected.error {
}
#u2966.mouseOver.selected.error {
}
#u2966_img.mouseOver.selected.hint {
}
#u2966.mouseOver.selected.hint {
}
#u2966_img.mouseOver.selected.error.hint {
}
#u2966.mouseOver.selected.error.hint {
}
#u2966_img.mouseDown.selected {
}
#u2966.mouseDown.selected {
}
#u2966_img.mouseDown.selected.error {
}
#u2966.mouseDown.selected.error {
}
#u2966_img.mouseDown.selected.hint {
}
#u2966.mouseDown.selected.hint {
}
#u2966_img.mouseDown.selected.error.hint {
}
#u2966.mouseDown.selected.error.hint {
}
#u2966_img.mouseOver.mouseDown.selected {
}
#u2966.mouseOver.mouseDown.selected {
}
#u2966_img.mouseOver.mouseDown.selected.error {
}
#u2966.mouseOver.mouseDown.selected.error {
}
#u2966_img.mouseOver.mouseDown.selected.hint {
}
#u2966.mouseOver.mouseDown.selected.hint {
}
#u2966_img.mouseOver.mouseDown.selected.error.hint {
}
#u2966.mouseOver.mouseDown.selected.error.hint {
}
#u2966_img.focused.selected {
}
#u2966.focused.selected {
}
#u2966_img.focused.selected.error {
}
#u2966.focused.selected.error {
}
#u2966_img.focused.selected.hint {
}
#u2966.focused.selected.hint {
}
#u2966_img.focused.selected.error.hint {
}
#u2966.focused.selected.error.hint {
}
#u2966_img.selected.disabled {
}
#u2966.selected.disabled {
}
#u2966_img.selected.hint.disabled {
}
#u2966.selected.hint.disabled {
}
#u2966_img.selected.error.disabled {
}
#u2966.selected.error.disabled {
}
#u2966_img.selected.error.hint.disabled {
}
#u2966.selected.error.hint.disabled {
}
#u2966_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:223px;
  word-wrap:break-word;
  text-transform:none;
}
#u2966_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2967 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:618px;
  width:140px;
  height:40px;
  display:flex;
}
#u2967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2968 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:822px;
  width:238px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2968 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2969 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:602px;
  width:300px;
  height:15px;
  display:flex;
}
#u2969 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2970 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:600px;
  width:42px;
  height:19px;
  display:flex;
}
#u2970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
