body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1268px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:746px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8637 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:0px;
  width:375px;
  height:746px;
  display:flex;
}
#u8637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:412px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8638 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:69px;
  width:415px;
  height:412px;
  display:flex;
}
#u8638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:746px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:746px;
  display:flex;
}
#u8639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u8640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8641 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:69px;
  width:102px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u8641_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8641.selected {
}
#u8641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u8642 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:69px;
  width:102px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#666666;
}
#u8642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8642_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u8642.selected {
}
#u8642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8644 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:69px;
  width:102px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u8644_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8644.selected {
}
#u8644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u8645 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:81px;
  width:11px;
  height:6px;
  display:flex;
}
#u8645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8645_img.selected {
}
#u8645.selected {
}
#u8645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u8646 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:78px;
  width:12px;
  height:10px;
  display:flex;
}
#u8646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u8648 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:293px;
  width:162px;
  height:24px;
  display:flex;
  line-height:24px;
}
#u8648 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u8649 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:346px;
  width:38px;
  height:22px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u8649 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8649_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:170px;
}
#u8650 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:113px;
  width:162px;
  height:170px;
  display:flex;
}
#u8650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CECECE;
}
#u8651 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:349px;
  width:51px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#CECECE;
}
#u8651 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8651_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u8653 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:293px;
  width:162px;
  height:48px;
  display:flex;
  line-height:24px;
}
#u8653 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u8654 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:346px;
  width:38px;
  height:22px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u8654 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8654_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:170px;
}
#u8655 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:113px;
  width:162px;
  height:170px;
  display:flex;
}
#u8655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CECECE;
}
#u8656 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:349px;
  width:51px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#CECECE;
}
#u8656 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8656_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u8658 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:558px;
  width:162px;
  height:24px;
  display:flex;
  line-height:24px;
}
#u8658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u8659 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:611px;
  width:38px;
  height:22px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u8659 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8659_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:170px;
}
#u8660 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:378px;
  width:162px;
  height:170px;
  display:flex;
}
#u8660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CECECE;
}
#u8661 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:614px;
  width:51px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#CECECE;
}
#u8661 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8661_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u8663 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:558px;
  width:162px;
  height:48px;
  display:flex;
  line-height:24px;
}
#u8663 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u8664 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:611px;
  width:38px;
  height:22px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u8664 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8664_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:170px;
}
#u8665 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:378px;
  width:162px;
  height:170px;
  display:flex;
}
#u8665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CECECE;
}
#u8666 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:614px;
  width:51px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#CECECE;
}
#u8666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8666_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u8668 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:16px;
  width:9px;
  height:14px;
  display:flex;
}
#u8668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8669 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:11px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u8669 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8669_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:362px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8670 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:101px;
  width:375px;
  height:362px;
  display:flex;
}
#u8670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u8671 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:121px;
  width:36px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u8671 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8671_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8672 label {
  left:0px;
  width:100%;
}
#u8672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u8672 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:164px;
  width:311px;
  height:15px;
  display:flex;
}
#u8672 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8672_img.selected {
}
#u8672.selected {
}
#u8672_img.disabled {
}
#u8672.disabled {
}
#u8672_img.selected.error {
}
#u8672.selected.error {
}
#u8672_img.selected.hint {
}
#u8672.selected.hint {
}
#u8672_img.selected.error.hint {
}
#u8672.selected.error.hint {
}
#u8672_img.mouseOver.selected {
}
#u8672.mouseOver.selected {
}
#u8672_img.mouseOver.selected.error {
}
#u8672.mouseOver.selected.error {
}
#u8672_img.mouseOver.selected.hint {
}
#u8672.mouseOver.selected.hint {
}
#u8672_img.mouseOver.selected.error.hint {
}
#u8672.mouseOver.selected.error.hint {
}
#u8672_img.mouseDown.selected {
}
#u8672.mouseDown.selected {
}
#u8672_img.mouseDown.selected.error {
}
#u8672.mouseDown.selected.error {
}
#u8672_img.mouseDown.selected.hint {
}
#u8672.mouseDown.selected.hint {
}
#u8672_img.mouseDown.selected.error.hint {
}
#u8672.mouseDown.selected.error.hint {
}
#u8672_img.mouseOver.mouseDown.selected {
}
#u8672.mouseOver.mouseDown.selected {
}
#u8672_img.mouseOver.mouseDown.selected.error {
}
#u8672.mouseOver.mouseDown.selected.error {
}
#u8672_img.mouseOver.mouseDown.selected.hint {
}
#u8672.mouseOver.mouseDown.selected.hint {
}
#u8672_img.mouseOver.mouseDown.selected.error.hint {
}
#u8672.mouseOver.mouseDown.selected.error.hint {
}
#u8672_img.focused.selected {
}
#u8672.focused.selected {
}
#u8672_img.focused.selected.error {
}
#u8672.focused.selected.error {
}
#u8672_img.focused.selected.hint {
}
#u8672.focused.selected.hint {
}
#u8672_img.focused.selected.error.hint {
}
#u8672.focused.selected.error.hint {
}
#u8672_img.selected.disabled {
}
#u8672.selected.disabled {
}
#u8672_img.selected.hint.disabled {
}
#u8672.selected.hint.disabled {
}
#u8672_img.selected.error.disabled {
}
#u8672.selected.error.disabled {
}
#u8672_img.selected.error.hint.disabled {
}
#u8672.selected.error.hint.disabled {
}
#u8672_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:294px;
  word-wrap:break-word;
  text-transform:none;
}
#u8672_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8673 label {
  left:0px;
  width:100%;
}
#u8673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u8673 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:198px;
  width:311px;
  height:15px;
  display:flex;
}
#u8673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8673_img.selected {
}
#u8673.selected {
}
#u8673_img.disabled {
}
#u8673.disabled {
}
#u8673_img.selected.error {
}
#u8673.selected.error {
}
#u8673_img.selected.hint {
}
#u8673.selected.hint {
}
#u8673_img.selected.error.hint {
}
#u8673.selected.error.hint {
}
#u8673_img.mouseOver.selected {
}
#u8673.mouseOver.selected {
}
#u8673_img.mouseOver.selected.error {
}
#u8673.mouseOver.selected.error {
}
#u8673_img.mouseOver.selected.hint {
}
#u8673.mouseOver.selected.hint {
}
#u8673_img.mouseOver.selected.error.hint {
}
#u8673.mouseOver.selected.error.hint {
}
#u8673_img.mouseDown.selected {
}
#u8673.mouseDown.selected {
}
#u8673_img.mouseDown.selected.error {
}
#u8673.mouseDown.selected.error {
}
#u8673_img.mouseDown.selected.hint {
}
#u8673.mouseDown.selected.hint {
}
#u8673_img.mouseDown.selected.error.hint {
}
#u8673.mouseDown.selected.error.hint {
}
#u8673_img.mouseOver.mouseDown.selected {
}
#u8673.mouseOver.mouseDown.selected {
}
#u8673_img.mouseOver.mouseDown.selected.error {
}
#u8673.mouseOver.mouseDown.selected.error {
}
#u8673_img.mouseOver.mouseDown.selected.hint {
}
#u8673.mouseOver.mouseDown.selected.hint {
}
#u8673_img.mouseOver.mouseDown.selected.error.hint {
}
#u8673.mouseOver.mouseDown.selected.error.hint {
}
#u8673_img.focused.selected {
}
#u8673.focused.selected {
}
#u8673_img.focused.selected.error {
}
#u8673.focused.selected.error {
}
#u8673_img.focused.selected.hint {
}
#u8673.focused.selected.hint {
}
#u8673_img.focused.selected.error.hint {
}
#u8673.focused.selected.error.hint {
}
#u8673_img.selected.disabled {
}
#u8673.selected.disabled {
}
#u8673_img.selected.hint.disabled {
}
#u8673.selected.hint.disabled {
}
#u8673_img.selected.error.disabled {
}
#u8673.selected.error.disabled {
}
#u8673_img.selected.error.hint.disabled {
}
#u8673.selected.error.hint.disabled {
}
#u8673_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:294px;
  word-wrap:break-word;
  text-transform:none;
}
#u8673_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8674 label {
  left:0px;
  width:100%;
}
#u8674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u8674 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:233px;
  width:311px;
  height:15px;
  display:flex;
}
#u8674 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8674_img.selected {
}
#u8674.selected {
}
#u8674_img.disabled {
}
#u8674.disabled {
}
#u8674_img.selected.error {
}
#u8674.selected.error {
}
#u8674_img.selected.hint {
}
#u8674.selected.hint {
}
#u8674_img.selected.error.hint {
}
#u8674.selected.error.hint {
}
#u8674_img.mouseOver.selected {
}
#u8674.mouseOver.selected {
}
#u8674_img.mouseOver.selected.error {
}
#u8674.mouseOver.selected.error {
}
#u8674_img.mouseOver.selected.hint {
}
#u8674.mouseOver.selected.hint {
}
#u8674_img.mouseOver.selected.error.hint {
}
#u8674.mouseOver.selected.error.hint {
}
#u8674_img.mouseDown.selected {
}
#u8674.mouseDown.selected {
}
#u8674_img.mouseDown.selected.error {
}
#u8674.mouseDown.selected.error {
}
#u8674_img.mouseDown.selected.hint {
}
#u8674.mouseDown.selected.hint {
}
#u8674_img.mouseDown.selected.error.hint {
}
#u8674.mouseDown.selected.error.hint {
}
#u8674_img.mouseOver.mouseDown.selected {
}
#u8674.mouseOver.mouseDown.selected {
}
#u8674_img.mouseOver.mouseDown.selected.error {
}
#u8674.mouseOver.mouseDown.selected.error {
}
#u8674_img.mouseOver.mouseDown.selected.hint {
}
#u8674.mouseOver.mouseDown.selected.hint {
}
#u8674_img.mouseOver.mouseDown.selected.error.hint {
}
#u8674.mouseOver.mouseDown.selected.error.hint {
}
#u8674_img.focused.selected {
}
#u8674.focused.selected {
}
#u8674_img.focused.selected.error {
}
#u8674.focused.selected.error {
}
#u8674_img.focused.selected.hint {
}
#u8674.focused.selected.hint {
}
#u8674_img.focused.selected.error.hint {
}
#u8674.focused.selected.error.hint {
}
#u8674_img.selected.disabled {
}
#u8674.selected.disabled {
}
#u8674_img.selected.hint.disabled {
}
#u8674.selected.hint.disabled {
}
#u8674_img.selected.error.disabled {
}
#u8674.selected.error.disabled {
}
#u8674_img.selected.error.hint.disabled {
}
#u8674.selected.error.hint.disabled {
}
#u8674_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:294px;
  word-wrap:break-word;
  text-transform:none;
}
#u8674_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8675 label {
  left:0px;
  width:100%;
}
#u8675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u8675 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:275px;
  width:311px;
  height:15px;
  display:flex;
}
#u8675 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8675_img.selected {
}
#u8675.selected {
}
#u8675_img.disabled {
}
#u8675.disabled {
}
#u8675_img.selected.error {
}
#u8675.selected.error {
}
#u8675_img.selected.hint {
}
#u8675.selected.hint {
}
#u8675_img.selected.error.hint {
}
#u8675.selected.error.hint {
}
#u8675_img.mouseOver.selected {
}
#u8675.mouseOver.selected {
}
#u8675_img.mouseOver.selected.error {
}
#u8675.mouseOver.selected.error {
}
#u8675_img.mouseOver.selected.hint {
}
#u8675.mouseOver.selected.hint {
}
#u8675_img.mouseOver.selected.error.hint {
}
#u8675.mouseOver.selected.error.hint {
}
#u8675_img.mouseDown.selected {
}
#u8675.mouseDown.selected {
}
#u8675_img.mouseDown.selected.error {
}
#u8675.mouseDown.selected.error {
}
#u8675_img.mouseDown.selected.hint {
}
#u8675.mouseDown.selected.hint {
}
#u8675_img.mouseDown.selected.error.hint {
}
#u8675.mouseDown.selected.error.hint {
}
#u8675_img.mouseOver.mouseDown.selected {
}
#u8675.mouseOver.mouseDown.selected {
}
#u8675_img.mouseOver.mouseDown.selected.error {
}
#u8675.mouseOver.mouseDown.selected.error {
}
#u8675_img.mouseOver.mouseDown.selected.hint {
}
#u8675.mouseOver.mouseDown.selected.hint {
}
#u8675_img.mouseOver.mouseDown.selected.error.hint {
}
#u8675.mouseOver.mouseDown.selected.error.hint {
}
#u8675_img.focused.selected {
}
#u8675.focused.selected {
}
#u8675_img.focused.selected.error {
}
#u8675.focused.selected.error {
}
#u8675_img.focused.selected.hint {
}
#u8675.focused.selected.hint {
}
#u8675_img.focused.selected.error.hint {
}
#u8675.focused.selected.error.hint {
}
#u8675_img.selected.disabled {
}
#u8675.selected.disabled {
}
#u8675_img.selected.hint.disabled {
}
#u8675.selected.hint.disabled {
}
#u8675_img.selected.error.disabled {
}
#u8675.selected.error.disabled {
}
#u8675_img.selected.error.hint.disabled {
}
#u8675.selected.error.hint.disabled {
}
#u8675_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:294px;
  word-wrap:break-word;
  text-transform:none;
}
#u8675_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8676 label {
  left:0px;
  width:100%;
}
#u8676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u8676 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:310px;
  width:311px;
  height:15px;
  display:flex;
}
#u8676 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8676_img.selected {
}
#u8676.selected {
}
#u8676_img.disabled {
}
#u8676.disabled {
}
#u8676_img.selected.error {
}
#u8676.selected.error {
}
#u8676_img.selected.hint {
}
#u8676.selected.hint {
}
#u8676_img.selected.error.hint {
}
#u8676.selected.error.hint {
}
#u8676_img.mouseOver.selected {
}
#u8676.mouseOver.selected {
}
#u8676_img.mouseOver.selected.error {
}
#u8676.mouseOver.selected.error {
}
#u8676_img.mouseOver.selected.hint {
}
#u8676.mouseOver.selected.hint {
}
#u8676_img.mouseOver.selected.error.hint {
}
#u8676.mouseOver.selected.error.hint {
}
#u8676_img.mouseDown.selected {
}
#u8676.mouseDown.selected {
}
#u8676_img.mouseDown.selected.error {
}
#u8676.mouseDown.selected.error {
}
#u8676_img.mouseDown.selected.hint {
}
#u8676.mouseDown.selected.hint {
}
#u8676_img.mouseDown.selected.error.hint {
}
#u8676.mouseDown.selected.error.hint {
}
#u8676_img.mouseOver.mouseDown.selected {
}
#u8676.mouseOver.mouseDown.selected {
}
#u8676_img.mouseOver.mouseDown.selected.error {
}
#u8676.mouseOver.mouseDown.selected.error {
}
#u8676_img.mouseOver.mouseDown.selected.hint {
}
#u8676.mouseOver.mouseDown.selected.hint {
}
#u8676_img.mouseOver.mouseDown.selected.error.hint {
}
#u8676.mouseOver.mouseDown.selected.error.hint {
}
#u8676_img.focused.selected {
}
#u8676.focused.selected {
}
#u8676_img.focused.selected.error {
}
#u8676.focused.selected.error {
}
#u8676_img.focused.selected.hint {
}
#u8676.focused.selected.hint {
}
#u8676_img.focused.selected.error.hint {
}
#u8676.focused.selected.error.hint {
}
#u8676_img.selected.disabled {
}
#u8676.selected.disabled {
}
#u8676_img.selected.hint.disabled {
}
#u8676.selected.hint.disabled {
}
#u8676_img.selected.error.disabled {
}
#u8676.selected.error.disabled {
}
#u8676_img.selected.error.hint.disabled {
}
#u8676.selected.error.hint.disabled {
}
#u8676_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:294px;
  word-wrap:break-word;
  text-transform:none;
}
#u8676_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8677 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:0px;
  width:375px;
  height:87px;
  display:flex;
}
#u8677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8678 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:56px;
  width:28px;
  height:16px;
  display:flex;
}
#u8678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8678_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8680 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:53px;
  width:32px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u8680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8680_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8681 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:58px;
  width:14px;
  height:14px;
  display:flex;
}
#u8681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8683 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:146px;
  width:75px;
  height:36px;
  display:flex;
  color:#666666;
}
#u8683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8683_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8683.selected {
}
#u8683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8684 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:146px;
  width:75px;
  height:36px;
  display:flex;
  color:#666666;
}
#u8684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8684_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8684.selected {
}
#u8684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8685 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:146px;
  width:75px;
  height:36px;
  display:flex;
  color:#666666;
}
#u8685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8685_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8685.selected {
}
#u8685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8686 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:146px;
  width:75px;
  height:36px;
  display:flex;
  color:#666666;
}
#u8686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8686_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8686.selected {
}
#u8686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8687 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:194px;
  width:88px;
  height:36px;
  display:flex;
  color:#666666;
}
#u8687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8687_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8687.selected {
}
#u8687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8688 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:194px;
  width:88px;
  height:36px;
  display:flex;
  color:#666666;
}
#u8688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8688_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8688.selected {
}
#u8688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8689 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:113px;
  width:28px;
  height:16px;
  display:flex;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8689 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8689_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8690 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:194px;
  width:75px;
  height:36px;
  display:flex;
  color:#666666;
}
#u8690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8690_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8690.selected {
}
#u8690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:44px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u8691 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:662px;
  width:334px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u8691 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8691_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:44px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u8691.mouseDown {
  opacity:0.7;
}
#u8691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CECECE;
}
#u8692 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:651px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#CECECE;
}
#u8692 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8692_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8693 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:652px;
  width:14px;
  height:14px;
  display:flex;
}
#u8693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
