body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:762px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:697px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:697px;
  display:flex;
}
#u6073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:637px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:637px;
  display:flex;
}
#u6074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6075 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:25px;
  width:95px;
  height:16px;
  display:flex;
}
#u6075 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u6076 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:22px;
  width:95px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u6076 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6077 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:70px;
  width:344px;
  height:88px;
  display:flex;
}
#u6077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6078 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:167px;
  width:344px;
  height:34px;
  display:flex;
  font-size:18px;
}
#u6078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6079 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:215px;
  width:344px;
  height:211px;
  display:flex;
}
#u6079 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6080 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:226px;
  width:114px;
  height:16px;
  display:flex;
}
#u6080 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6081 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:250px;
  width:324px;
  height:158px;
  display:flex;
}
#u6081 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6082 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:454px;
  width:140px;
  height:40px;
  display:flex;
}
#u6082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6083 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:174px;
  width:370px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6083 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6084 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:405px;
  width:370px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6084 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6085 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:80px;
  width:325px;
  height:68px;
}
#u6086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u6086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  display:flex;
}
#u6086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
}
#u6087 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:0px;
  width:69px;
  height:34px;
  display:flex;
}
#u6087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u6088 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:0px;
  width:68px;
  height:34px;
  display:flex;
}
#u6088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u6089 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:75px;
  height:34px;
  display:flex;
}
#u6089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u6090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:113px;
  height:34px;
  display:flex;
}
#u6090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
}
#u6091 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:34px;
  width:69px;
  height:34px;
  display:flex;
}
#u6091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u6092 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:34px;
  width:68px;
  height:34px;
  display:flex;
}
#u6092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u6093 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:34px;
  width:75px;
  height:34px;
  display:flex;
}
#u6093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
