body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:762px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:697px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:697px;
  display:flex;
}
#u5986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:637px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:637px;
  display:flex;
}
#u5987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:25px;
  width:95px;
  height:16px;
  display:flex;
}
#u5988 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:22px;
  width:95px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u5989 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:70px;
  width:344px;
  height:88px;
  display:flex;
}
#u5990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:167px;
  width:344px;
  height:34px;
  display:flex;
  font-size:18px;
}
#u5991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:215px;
  width:344px;
  height:211px;
  display:flex;
}
#u5992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:226px;
  width:114px;
  height:16px;
  display:flex;
}
#u5993 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:250px;
  width:324px;
  height:158px;
  display:flex;
}
#u5994 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:454px;
  width:140px;
  height:40px;
  display:flex;
}
#u5995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:174px;
  width:370px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5996 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:405px;
  width:370px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5997 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:80px;
  width:325px;
  height:68px;
}
#u5999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  display:flex;
}
#u5999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:0px;
  width:69px;
  height:34px;
  display:flex;
}
#u6000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:0px;
  width:68px;
  height:34px;
  display:flex;
}
#u6001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u6002 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:75px;
  height:34px;
  display:flex;
}
#u6002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u6003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:113px;
  height:34px;
  display:flex;
}
#u6003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
}
#u6004 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:34px;
  width:69px;
  height:34px;
  display:flex;
}
#u6004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:34px;
  width:68px;
  height:34px;
  display:flex;
}
#u6005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:34px;
  width:75px;
  height:34px;
  display:flex;
}
#u6006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
