body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-71px;
  width:977px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:347px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:41px;
  width:370px;
  height:347px;
  display:flex;
}
#u1178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:55px;
  width:13px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1179 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1179_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:60px;
  width:242px;
  height:16px;
  display:flex;
}
#u1180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:89px;
  width:346px;
  height:167px;
  display:flex;
  font-size:16px;
}
#u1181 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:113px;
  width:346px;
  height:105px;
  display:flex;
}
#u1182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:338px;
  width:140px;
  height:29px;
  display:flex;
}
#u1183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:338px;
  width:140px;
  height:29px;
  display:flex;
}
#u1184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1185 label {
  left:0px;
  width:100%;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:281px;
  width:140px;
  height:15px;
  display:flex;
}
#u1185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1185_img.selected {
}
#u1185.selected {
}
#u1185_img.disabled {
}
#u1185.disabled {
}
#u1185_img.selected.error {
}
#u1185.selected.error {
}
#u1185_img.selected.hint {
}
#u1185.selected.hint {
}
#u1185_img.selected.error.hint {
}
#u1185.selected.error.hint {
}
#u1185_img.mouseOver.selected {
}
#u1185.mouseOver.selected {
}
#u1185_img.mouseOver.selected.error {
}
#u1185.mouseOver.selected.error {
}
#u1185_img.mouseOver.selected.hint {
}
#u1185.mouseOver.selected.hint {
}
#u1185_img.mouseOver.selected.error.hint {
}
#u1185.mouseOver.selected.error.hint {
}
#u1185_img.mouseDown.selected {
}
#u1185.mouseDown.selected {
}
#u1185_img.mouseDown.selected.error {
}
#u1185.mouseDown.selected.error {
}
#u1185_img.mouseDown.selected.hint {
}
#u1185.mouseDown.selected.hint {
}
#u1185_img.mouseDown.selected.error.hint {
}
#u1185.mouseDown.selected.error.hint {
}
#u1185_img.mouseOver.mouseDown.selected {
}
#u1185.mouseOver.mouseDown.selected {
}
#u1185_img.mouseOver.mouseDown.selected.error {
}
#u1185.mouseOver.mouseDown.selected.error {
}
#u1185_img.mouseOver.mouseDown.selected.hint {
}
#u1185.mouseOver.mouseDown.selected.hint {
}
#u1185_img.mouseOver.mouseDown.selected.error.hint {
}
#u1185.mouseOver.mouseDown.selected.error.hint {
}
#u1185_img.focused.selected {
}
#u1185.focused.selected {
}
#u1185_img.focused.selected.error {
}
#u1185.focused.selected.error {
}
#u1185_img.focused.selected.hint {
}
#u1185.focused.selected.hint {
}
#u1185_img.focused.selected.error.hint {
}
#u1185.focused.selected.error.hint {
}
#u1185_img.selected.disabled {
}
#u1185.selected.disabled {
}
#u1185_img.selected.hint.disabled {
}
#u1185.selected.hint.disabled {
}
#u1185_img.selected.error.disabled {
}
#u1185.selected.error.disabled {
}
#u1185_img.selected.error.hint.disabled {
}
#u1185.selected.error.hint.disabled {
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:123px;
  word-wrap:break-word;
  text-transform:none;
}
#u1185_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1186 label {
  left:0px;
  width:100%;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:281px;
  width:140px;
  height:15px;
  display:flex;
}
#u1186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1186_img.selected {
}
#u1186.selected {
}
#u1186_img.disabled {
}
#u1186.disabled {
}
#u1186_img.selected.error {
}
#u1186.selected.error {
}
#u1186_img.selected.hint {
}
#u1186.selected.hint {
}
#u1186_img.selected.error.hint {
}
#u1186.selected.error.hint {
}
#u1186_img.mouseOver.selected {
}
#u1186.mouseOver.selected {
}
#u1186_img.mouseOver.selected.error {
}
#u1186.mouseOver.selected.error {
}
#u1186_img.mouseOver.selected.hint {
}
#u1186.mouseOver.selected.hint {
}
#u1186_img.mouseOver.selected.error.hint {
}
#u1186.mouseOver.selected.error.hint {
}
#u1186_img.mouseDown.selected {
}
#u1186.mouseDown.selected {
}
#u1186_img.mouseDown.selected.error {
}
#u1186.mouseDown.selected.error {
}
#u1186_img.mouseDown.selected.hint {
}
#u1186.mouseDown.selected.hint {
}
#u1186_img.mouseDown.selected.error.hint {
}
#u1186.mouseDown.selected.error.hint {
}
#u1186_img.mouseOver.mouseDown.selected {
}
#u1186.mouseOver.mouseDown.selected {
}
#u1186_img.mouseOver.mouseDown.selected.error {
}
#u1186.mouseOver.mouseDown.selected.error {
}
#u1186_img.mouseOver.mouseDown.selected.hint {
}
#u1186.mouseOver.mouseDown.selected.hint {
}
#u1186_img.mouseOver.mouseDown.selected.error.hint {
}
#u1186.mouseOver.mouseDown.selected.error.hint {
}
#u1186_img.focused.selected {
}
#u1186.focused.selected {
}
#u1186_img.focused.selected.error {
}
#u1186.focused.selected.error {
}
#u1186_img.focused.selected.hint {
}
#u1186.focused.selected.hint {
}
#u1186_img.focused.selected.error.hint {
}
#u1186.focused.selected.error.hint {
}
#u1186_img.selected.disabled {
}
#u1186.selected.disabled {
}
#u1186_img.selected.hint.disabled {
}
#u1186.selected.hint.disabled {
}
#u1186_img.selected.error.disabled {
}
#u1186.selected.error.disabled {
}
#u1186_img.selected.error.hint.disabled {
}
#u1186.selected.error.hint.disabled {
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:123px;
  word-wrap:break-word;
  text-transform:none;
}
#u1186_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:513px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:11px;
  width:552px;
  height:513px;
  display:flex;
}
#u1187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
