body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-71px;
  width:977px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:347px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:41px;
  width:370px;
  height:347px;
  display:flex;
}
#u1702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:55px;
  width:13px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1703 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1703_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:60px;
  width:242px;
  height:16px;
  display:flex;
}
#u1704 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:89px;
  width:346px;
  height:167px;
  display:flex;
  font-size:16px;
}
#u1705 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:113px;
  width:346px;
  height:105px;
  display:flex;
}
#u1706 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:338px;
  width:140px;
  height:29px;
  display:flex;
}
#u1707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:338px;
  width:140px;
  height:29px;
  display:flex;
}
#u1708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1709 label {
  left:0px;
  width:100%;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:281px;
  width:140px;
  height:15px;
  display:flex;
}
#u1709 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1709_img.selected {
}
#u1709.selected {
}
#u1709_img.disabled {
}
#u1709.disabled {
}
#u1709_img.selected.error {
}
#u1709.selected.error {
}
#u1709_img.selected.hint {
}
#u1709.selected.hint {
}
#u1709_img.selected.error.hint {
}
#u1709.selected.error.hint {
}
#u1709_img.mouseOver.selected {
}
#u1709.mouseOver.selected {
}
#u1709_img.mouseOver.selected.error {
}
#u1709.mouseOver.selected.error {
}
#u1709_img.mouseOver.selected.hint {
}
#u1709.mouseOver.selected.hint {
}
#u1709_img.mouseOver.selected.error.hint {
}
#u1709.mouseOver.selected.error.hint {
}
#u1709_img.mouseDown.selected {
}
#u1709.mouseDown.selected {
}
#u1709_img.mouseDown.selected.error {
}
#u1709.mouseDown.selected.error {
}
#u1709_img.mouseDown.selected.hint {
}
#u1709.mouseDown.selected.hint {
}
#u1709_img.mouseDown.selected.error.hint {
}
#u1709.mouseDown.selected.error.hint {
}
#u1709_img.mouseOver.mouseDown.selected {
}
#u1709.mouseOver.mouseDown.selected {
}
#u1709_img.mouseOver.mouseDown.selected.error {
}
#u1709.mouseOver.mouseDown.selected.error {
}
#u1709_img.mouseOver.mouseDown.selected.hint {
}
#u1709.mouseOver.mouseDown.selected.hint {
}
#u1709_img.mouseOver.mouseDown.selected.error.hint {
}
#u1709.mouseOver.mouseDown.selected.error.hint {
}
#u1709_img.focused.selected {
}
#u1709.focused.selected {
}
#u1709_img.focused.selected.error {
}
#u1709.focused.selected.error {
}
#u1709_img.focused.selected.hint {
}
#u1709.focused.selected.hint {
}
#u1709_img.focused.selected.error.hint {
}
#u1709.focused.selected.error.hint {
}
#u1709_img.selected.disabled {
}
#u1709.selected.disabled {
}
#u1709_img.selected.hint.disabled {
}
#u1709.selected.hint.disabled {
}
#u1709_img.selected.error.disabled {
}
#u1709.selected.error.disabled {
}
#u1709_img.selected.error.hint.disabled {
}
#u1709.selected.error.hint.disabled {
}
#u1709_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:123px;
  word-wrap:break-word;
  text-transform:none;
}
#u1709_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1710 label {
  left:0px;
  width:100%;
}
#u1710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:281px;
  width:140px;
  height:15px;
  display:flex;
}
#u1710 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1710_img.selected {
}
#u1710.selected {
}
#u1710_img.disabled {
}
#u1710.disabled {
}
#u1710_img.selected.error {
}
#u1710.selected.error {
}
#u1710_img.selected.hint {
}
#u1710.selected.hint {
}
#u1710_img.selected.error.hint {
}
#u1710.selected.error.hint {
}
#u1710_img.mouseOver.selected {
}
#u1710.mouseOver.selected {
}
#u1710_img.mouseOver.selected.error {
}
#u1710.mouseOver.selected.error {
}
#u1710_img.mouseOver.selected.hint {
}
#u1710.mouseOver.selected.hint {
}
#u1710_img.mouseOver.selected.error.hint {
}
#u1710.mouseOver.selected.error.hint {
}
#u1710_img.mouseDown.selected {
}
#u1710.mouseDown.selected {
}
#u1710_img.mouseDown.selected.error {
}
#u1710.mouseDown.selected.error {
}
#u1710_img.mouseDown.selected.hint {
}
#u1710.mouseDown.selected.hint {
}
#u1710_img.mouseDown.selected.error.hint {
}
#u1710.mouseDown.selected.error.hint {
}
#u1710_img.mouseOver.mouseDown.selected {
}
#u1710.mouseOver.mouseDown.selected {
}
#u1710_img.mouseOver.mouseDown.selected.error {
}
#u1710.mouseOver.mouseDown.selected.error {
}
#u1710_img.mouseOver.mouseDown.selected.hint {
}
#u1710.mouseOver.mouseDown.selected.hint {
}
#u1710_img.mouseOver.mouseDown.selected.error.hint {
}
#u1710.mouseOver.mouseDown.selected.error.hint {
}
#u1710_img.focused.selected {
}
#u1710.focused.selected {
}
#u1710_img.focused.selected.error {
}
#u1710.focused.selected.error {
}
#u1710_img.focused.selected.hint {
}
#u1710.focused.selected.hint {
}
#u1710_img.focused.selected.error.hint {
}
#u1710.focused.selected.error.hint {
}
#u1710_img.selected.disabled {
}
#u1710.selected.disabled {
}
#u1710_img.selected.hint.disabled {
}
#u1710.selected.hint.disabled {
}
#u1710_img.selected.error.disabled {
}
#u1710.selected.error.disabled {
}
#u1710_img.selected.error.hint.disabled {
}
#u1710.selected.error.hint.disabled {
}
#u1710_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:123px;
  word-wrap:break-word;
  text-transform:none;
}
#u1710_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:513px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:11px;
  width:552px;
  height:513px;
  display:flex;
}
#u1711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
