body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-71px;
  width:977px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:347px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:41px;
  width:370px;
  height:347px;
  display:flex;
}
#u1735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:55px;
  width:13px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1736 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1736_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:60px;
  width:242px;
  height:16px;
  display:flex;
}
#u1737 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:89px;
  width:346px;
  height:167px;
  display:flex;
  font-size:16px;
}
#u1738 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:113px;
  width:346px;
  height:105px;
  display:flex;
}
#u1739 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1740 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:338px;
  width:140px;
  height:29px;
  display:flex;
}
#u1740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1741 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:338px;
  width:140px;
  height:29px;
  display:flex;
}
#u1741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1742 label {
  left:0px;
  width:100%;
}
#u1742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u1742 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:281px;
  width:140px;
  height:15px;
  display:flex;
}
#u1742 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1742_img.selected {
}
#u1742.selected {
}
#u1742_img.disabled {
}
#u1742.disabled {
}
#u1742_img.selected.error {
}
#u1742.selected.error {
}
#u1742_img.selected.hint {
}
#u1742.selected.hint {
}
#u1742_img.selected.error.hint {
}
#u1742.selected.error.hint {
}
#u1742_img.mouseOver.selected {
}
#u1742.mouseOver.selected {
}
#u1742_img.mouseOver.selected.error {
}
#u1742.mouseOver.selected.error {
}
#u1742_img.mouseOver.selected.hint {
}
#u1742.mouseOver.selected.hint {
}
#u1742_img.mouseOver.selected.error.hint {
}
#u1742.mouseOver.selected.error.hint {
}
#u1742_img.mouseDown.selected {
}
#u1742.mouseDown.selected {
}
#u1742_img.mouseDown.selected.error {
}
#u1742.mouseDown.selected.error {
}
#u1742_img.mouseDown.selected.hint {
}
#u1742.mouseDown.selected.hint {
}
#u1742_img.mouseDown.selected.error.hint {
}
#u1742.mouseDown.selected.error.hint {
}
#u1742_img.mouseOver.mouseDown.selected {
}
#u1742.mouseOver.mouseDown.selected {
}
#u1742_img.mouseOver.mouseDown.selected.error {
}
#u1742.mouseOver.mouseDown.selected.error {
}
#u1742_img.mouseOver.mouseDown.selected.hint {
}
#u1742.mouseOver.mouseDown.selected.hint {
}
#u1742_img.mouseOver.mouseDown.selected.error.hint {
}
#u1742.mouseOver.mouseDown.selected.error.hint {
}
#u1742_img.focused.selected {
}
#u1742.focused.selected {
}
#u1742_img.focused.selected.error {
}
#u1742.focused.selected.error {
}
#u1742_img.focused.selected.hint {
}
#u1742.focused.selected.hint {
}
#u1742_img.focused.selected.error.hint {
}
#u1742.focused.selected.error.hint {
}
#u1742_img.selected.disabled {
}
#u1742.selected.disabled {
}
#u1742_img.selected.hint.disabled {
}
#u1742.selected.hint.disabled {
}
#u1742_img.selected.error.disabled {
}
#u1742.selected.error.disabled {
}
#u1742_img.selected.error.hint.disabled {
}
#u1742.selected.error.hint.disabled {
}
#u1742_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:123px;
  word-wrap:break-word;
  text-transform:none;
}
#u1742_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1743 label {
  left:0px;
  width:100%;
}
#u1743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:281px;
  width:140px;
  height:15px;
  display:flex;
}
#u1743 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1743_img.selected {
}
#u1743.selected {
}
#u1743_img.disabled {
}
#u1743.disabled {
}
#u1743_img.selected.error {
}
#u1743.selected.error {
}
#u1743_img.selected.hint {
}
#u1743.selected.hint {
}
#u1743_img.selected.error.hint {
}
#u1743.selected.error.hint {
}
#u1743_img.mouseOver.selected {
}
#u1743.mouseOver.selected {
}
#u1743_img.mouseOver.selected.error {
}
#u1743.mouseOver.selected.error {
}
#u1743_img.mouseOver.selected.hint {
}
#u1743.mouseOver.selected.hint {
}
#u1743_img.mouseOver.selected.error.hint {
}
#u1743.mouseOver.selected.error.hint {
}
#u1743_img.mouseDown.selected {
}
#u1743.mouseDown.selected {
}
#u1743_img.mouseDown.selected.error {
}
#u1743.mouseDown.selected.error {
}
#u1743_img.mouseDown.selected.hint {
}
#u1743.mouseDown.selected.hint {
}
#u1743_img.mouseDown.selected.error.hint {
}
#u1743.mouseDown.selected.error.hint {
}
#u1743_img.mouseOver.mouseDown.selected {
}
#u1743.mouseOver.mouseDown.selected {
}
#u1743_img.mouseOver.mouseDown.selected.error {
}
#u1743.mouseOver.mouseDown.selected.error {
}
#u1743_img.mouseOver.mouseDown.selected.hint {
}
#u1743.mouseOver.mouseDown.selected.hint {
}
#u1743_img.mouseOver.mouseDown.selected.error.hint {
}
#u1743.mouseOver.mouseDown.selected.error.hint {
}
#u1743_img.focused.selected {
}
#u1743.focused.selected {
}
#u1743_img.focused.selected.error {
}
#u1743.focused.selected.error {
}
#u1743_img.focused.selected.hint {
}
#u1743.focused.selected.hint {
}
#u1743_img.focused.selected.error.hint {
}
#u1743.focused.selected.error.hint {
}
#u1743_img.selected.disabled {
}
#u1743.selected.disabled {
}
#u1743_img.selected.hint.disabled {
}
#u1743.selected.hint.disabled {
}
#u1743_img.selected.error.disabled {
}
#u1743.selected.error.disabled {
}
#u1743_img.selected.error.hint.disabled {
}
#u1743.selected.error.hint.disabled {
}
#u1743_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:123px;
  word-wrap:break-word;
  text-transform:none;
}
#u1743_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:513px;
}
#u1744 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:11px;
  width:552px;
  height:513px;
  display:flex;
}
#u1744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
