body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-71px;
  width:977px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:347px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:41px;
  width:370px;
  height:347px;
  display:flex;
}
#u870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:55px;
  width:13px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u871 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u871_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:60px;
  width:242px;
  height:16px;
  display:flex;
}
#u872 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:89px;
  width:346px;
  height:167px;
  display:flex;
  font-size:16px;
}
#u873 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:113px;
  width:346px;
  height:105px;
  display:flex;
}
#u874 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:338px;
  width:140px;
  height:29px;
  display:flex;
}
#u875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:338px;
  width:140px;
  height:29px;
  display:flex;
}
#u876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u877 label {
  left:0px;
  width:100%;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:281px;
  width:140px;
  height:15px;
  display:flex;
}
#u877 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u877_img.selected {
}
#u877.selected {
}
#u877_img.disabled {
}
#u877.disabled {
}
#u877_img.selected.error {
}
#u877.selected.error {
}
#u877_img.selected.hint {
}
#u877.selected.hint {
}
#u877_img.selected.error.hint {
}
#u877.selected.error.hint {
}
#u877_img.mouseOver.selected {
}
#u877.mouseOver.selected {
}
#u877_img.mouseOver.selected.error {
}
#u877.mouseOver.selected.error {
}
#u877_img.mouseOver.selected.hint {
}
#u877.mouseOver.selected.hint {
}
#u877_img.mouseOver.selected.error.hint {
}
#u877.mouseOver.selected.error.hint {
}
#u877_img.mouseDown.selected {
}
#u877.mouseDown.selected {
}
#u877_img.mouseDown.selected.error {
}
#u877.mouseDown.selected.error {
}
#u877_img.mouseDown.selected.hint {
}
#u877.mouseDown.selected.hint {
}
#u877_img.mouseDown.selected.error.hint {
}
#u877.mouseDown.selected.error.hint {
}
#u877_img.mouseOver.mouseDown.selected {
}
#u877.mouseOver.mouseDown.selected {
}
#u877_img.mouseOver.mouseDown.selected.error {
}
#u877.mouseOver.mouseDown.selected.error {
}
#u877_img.mouseOver.mouseDown.selected.hint {
}
#u877.mouseOver.mouseDown.selected.hint {
}
#u877_img.mouseOver.mouseDown.selected.error.hint {
}
#u877.mouseOver.mouseDown.selected.error.hint {
}
#u877_img.focused.selected {
}
#u877.focused.selected {
}
#u877_img.focused.selected.error {
}
#u877.focused.selected.error {
}
#u877_img.focused.selected.hint {
}
#u877.focused.selected.hint {
}
#u877_img.focused.selected.error.hint {
}
#u877.focused.selected.error.hint {
}
#u877_img.selected.disabled {
}
#u877.selected.disabled {
}
#u877_img.selected.hint.disabled {
}
#u877.selected.hint.disabled {
}
#u877_img.selected.error.disabled {
}
#u877.selected.error.disabled {
}
#u877_img.selected.error.hint.disabled {
}
#u877.selected.error.hint.disabled {
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:123px;
  word-wrap:break-word;
  text-transform:none;
}
#u877_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u878 label {
  left:0px;
  width:100%;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:281px;
  width:140px;
  height:15px;
  display:flex;
}
#u878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u878_img.selected {
}
#u878.selected {
}
#u878_img.disabled {
}
#u878.disabled {
}
#u878_img.selected.error {
}
#u878.selected.error {
}
#u878_img.selected.hint {
}
#u878.selected.hint {
}
#u878_img.selected.error.hint {
}
#u878.selected.error.hint {
}
#u878_img.mouseOver.selected {
}
#u878.mouseOver.selected {
}
#u878_img.mouseOver.selected.error {
}
#u878.mouseOver.selected.error {
}
#u878_img.mouseOver.selected.hint {
}
#u878.mouseOver.selected.hint {
}
#u878_img.mouseOver.selected.error.hint {
}
#u878.mouseOver.selected.error.hint {
}
#u878_img.mouseDown.selected {
}
#u878.mouseDown.selected {
}
#u878_img.mouseDown.selected.error {
}
#u878.mouseDown.selected.error {
}
#u878_img.mouseDown.selected.hint {
}
#u878.mouseDown.selected.hint {
}
#u878_img.mouseDown.selected.error.hint {
}
#u878.mouseDown.selected.error.hint {
}
#u878_img.mouseOver.mouseDown.selected {
}
#u878.mouseOver.mouseDown.selected {
}
#u878_img.mouseOver.mouseDown.selected.error {
}
#u878.mouseOver.mouseDown.selected.error {
}
#u878_img.mouseOver.mouseDown.selected.hint {
}
#u878.mouseOver.mouseDown.selected.hint {
}
#u878_img.mouseOver.mouseDown.selected.error.hint {
}
#u878.mouseOver.mouseDown.selected.error.hint {
}
#u878_img.focused.selected {
}
#u878.focused.selected {
}
#u878_img.focused.selected.error {
}
#u878.focused.selected.error {
}
#u878_img.focused.selected.hint {
}
#u878.focused.selected.hint {
}
#u878_img.focused.selected.error.hint {
}
#u878.focused.selected.error.hint {
}
#u878_img.selected.disabled {
}
#u878.selected.disabled {
}
#u878_img.selected.hint.disabled {
}
#u878.selected.hint.disabled {
}
#u878_img.selected.error.disabled {
}
#u878.selected.error.disabled {
}
#u878_img.selected.error.hint.disabled {
}
#u878.selected.error.hint.disabled {
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:123px;
  word-wrap:break-word;
  text-transform:none;
}
#u878_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:513px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:11px;
  width:552px;
  height:513px;
  display:flex;
}
#u879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
