body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-71px;
  width:977px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:347px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:41px;
  width:370px;
  height:347px;
  display:flex;
}
#u1648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:55px;
  width:13px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1649 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1649_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:60px;
  width:242px;
  height:16px;
  display:flex;
}
#u1650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:89px;
  width:346px;
  height:167px;
  display:flex;
  font-size:16px;
}
#u1651 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:113px;
  width:346px;
  height:105px;
  display:flex;
}
#u1652 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:338px;
  width:140px;
  height:29px;
  display:flex;
}
#u1653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:338px;
  width:140px;
  height:29px;
  display:flex;
}
#u1654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1655 label {
  left:0px;
  width:100%;
}
#u1655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:281px;
  width:140px;
  height:15px;
  display:flex;
}
#u1655 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1655_img.selected {
}
#u1655.selected {
}
#u1655_img.disabled {
}
#u1655.disabled {
}
#u1655_img.selected.error {
}
#u1655.selected.error {
}
#u1655_img.selected.hint {
}
#u1655.selected.hint {
}
#u1655_img.selected.error.hint {
}
#u1655.selected.error.hint {
}
#u1655_img.mouseOver.selected {
}
#u1655.mouseOver.selected {
}
#u1655_img.mouseOver.selected.error {
}
#u1655.mouseOver.selected.error {
}
#u1655_img.mouseOver.selected.hint {
}
#u1655.mouseOver.selected.hint {
}
#u1655_img.mouseOver.selected.error.hint {
}
#u1655.mouseOver.selected.error.hint {
}
#u1655_img.mouseDown.selected {
}
#u1655.mouseDown.selected {
}
#u1655_img.mouseDown.selected.error {
}
#u1655.mouseDown.selected.error {
}
#u1655_img.mouseDown.selected.hint {
}
#u1655.mouseDown.selected.hint {
}
#u1655_img.mouseDown.selected.error.hint {
}
#u1655.mouseDown.selected.error.hint {
}
#u1655_img.mouseOver.mouseDown.selected {
}
#u1655.mouseOver.mouseDown.selected {
}
#u1655_img.mouseOver.mouseDown.selected.error {
}
#u1655.mouseOver.mouseDown.selected.error {
}
#u1655_img.mouseOver.mouseDown.selected.hint {
}
#u1655.mouseOver.mouseDown.selected.hint {
}
#u1655_img.mouseOver.mouseDown.selected.error.hint {
}
#u1655.mouseOver.mouseDown.selected.error.hint {
}
#u1655_img.focused.selected {
}
#u1655.focused.selected {
}
#u1655_img.focused.selected.error {
}
#u1655.focused.selected.error {
}
#u1655_img.focused.selected.hint {
}
#u1655.focused.selected.hint {
}
#u1655_img.focused.selected.error.hint {
}
#u1655.focused.selected.error.hint {
}
#u1655_img.selected.disabled {
}
#u1655.selected.disabled {
}
#u1655_img.selected.hint.disabled {
}
#u1655.selected.hint.disabled {
}
#u1655_img.selected.error.disabled {
}
#u1655.selected.error.disabled {
}
#u1655_img.selected.error.hint.disabled {
}
#u1655.selected.error.hint.disabled {
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:123px;
  word-wrap:break-word;
  text-transform:none;
}
#u1655_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1656 label {
  left:0px;
  width:100%;
}
#u1656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:281px;
  width:140px;
  height:15px;
  display:flex;
}
#u1656 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1656_img.selected {
}
#u1656.selected {
}
#u1656_img.disabled {
}
#u1656.disabled {
}
#u1656_img.selected.error {
}
#u1656.selected.error {
}
#u1656_img.selected.hint {
}
#u1656.selected.hint {
}
#u1656_img.selected.error.hint {
}
#u1656.selected.error.hint {
}
#u1656_img.mouseOver.selected {
}
#u1656.mouseOver.selected {
}
#u1656_img.mouseOver.selected.error {
}
#u1656.mouseOver.selected.error {
}
#u1656_img.mouseOver.selected.hint {
}
#u1656.mouseOver.selected.hint {
}
#u1656_img.mouseOver.selected.error.hint {
}
#u1656.mouseOver.selected.error.hint {
}
#u1656_img.mouseDown.selected {
}
#u1656.mouseDown.selected {
}
#u1656_img.mouseDown.selected.error {
}
#u1656.mouseDown.selected.error {
}
#u1656_img.mouseDown.selected.hint {
}
#u1656.mouseDown.selected.hint {
}
#u1656_img.mouseDown.selected.error.hint {
}
#u1656.mouseDown.selected.error.hint {
}
#u1656_img.mouseOver.mouseDown.selected {
}
#u1656.mouseOver.mouseDown.selected {
}
#u1656_img.mouseOver.mouseDown.selected.error {
}
#u1656.mouseOver.mouseDown.selected.error {
}
#u1656_img.mouseOver.mouseDown.selected.hint {
}
#u1656.mouseOver.mouseDown.selected.hint {
}
#u1656_img.mouseOver.mouseDown.selected.error.hint {
}
#u1656.mouseOver.mouseDown.selected.error.hint {
}
#u1656_img.focused.selected {
}
#u1656.focused.selected {
}
#u1656_img.focused.selected.error {
}
#u1656.focused.selected.error {
}
#u1656_img.focused.selected.hint {
}
#u1656.focused.selected.hint {
}
#u1656_img.focused.selected.error.hint {
}
#u1656.focused.selected.error.hint {
}
#u1656_img.selected.disabled {
}
#u1656.selected.disabled {
}
#u1656_img.selected.hint.disabled {
}
#u1656.selected.hint.disabled {
}
#u1656_img.selected.error.disabled {
}
#u1656.selected.error.disabled {
}
#u1656_img.selected.error.hint.disabled {
}
#u1656.selected.error.hint.disabled {
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:123px;
  word-wrap:break-word;
  text-transform:none;
}
#u1656_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:513px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:11px;
  width:552px;
  height:513px;
  display:flex;
}
#u1657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
