body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-59px;
  width:1169px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:687px;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:0px;
  width:396px;
  height:687px;
  display:flex;
}
#u2101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:27px;
  width:140px;
  height:30px;
  display:flex;
}
#u2102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:65px;
  width:308px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u2103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:490px;
  width:104px;
  height:16px;
  display:flex;
}
#u2104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:514px;
  width:228px;
  height:16px;
  display:flex;
}
#u2105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:538px;
  width:228px;
  height:16px;
  display:flex;
}
#u2106 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:291px;
  width:92px;
  height:27px;
  display:flex;
}
#u2107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:634px;
  width:287px;
  height:40px;
  display:flex;
}
#u2108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:628px;
  width:287px;
  height:40px;
  display:flex;
}
#u2109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2110 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:538px;
  width:287px;
  height:84px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2110 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2111 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:73px;
  width:347px;
  height:189px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2111 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2112 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:416px;
  width:140px;
  height:28px;
  display:flex;
  font-size:16px;
}
#u2112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2113 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:453px;
  width:140px;
  height:28px;
  display:flex;
  font-size:16px;
}
#u2113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-decoration:line-through ;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:423px;
  width:47px;
  height:21px;
  display:flex;
  font-size:10px;
  text-decoration:line-through ;
}
#u2114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:291px;
  width:327px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u2115 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
