body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:649px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  display:flex;
}
#u4168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:710px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:710px;
  display:flex;
}
#u4169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4170 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:25px;
  width:95px;
  height:16px;
  display:flex;
}
#u4170 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u4171 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:22px;
  width:95px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u4171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4172 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:23px;
  width:50px;
  height:20px;
  display:flex;
}
#u4172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:111px;
}
#u4173 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:87px;
  width:335px;
  height:111px;
  display:flex;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u4174 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:129px;
  width:112px;
  height:28px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u4174 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4175 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:123px;
  width:40px;
  height:40px;
  display:flex;
}
#u4175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4176 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:157px;
  width:119px;
  height:16px;
  display:flex;
}
#u4176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4177 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:98px;
  width:74px;
  height:34px;
  display:flex;
  font-size:20px;
}
#u4177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:111px;
}
#u4178 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:215px;
  width:335px;
  height:111px;
  display:flex;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u4179 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:257px;
  width:131px;
  height:28px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u4179 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4180 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:251px;
  width:40px;
  height:40px;
  display:flex;
}
#u4180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4181 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:358px;
  width:300px;
  height:75px;
  display:flex;
}
#u4181 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u4182 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:165px;
  width:251px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u4182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
