body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:773px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:773px;
  display:flex;
}
#u8061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u8062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:678px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8064 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:67px;
  width:100px;
  height:678px;
  display:flex;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u8065 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:87px;
  width:80px;
  height:36px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u8065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8065_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u8065.selected {
}
#u8065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u8066 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:133px;
  width:80px;
  height:36px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u8066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8066_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u8066.selected {
}
#u8066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u8067 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:179px;
  width:80px;
  height:36px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u8067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8067_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u8067.selected {
}
#u8067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u8068 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:225px;
  width:80px;
  height:36px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u8068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8068_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u8068.selected {
}
#u8068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8069 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:67px;
  width:63px;
  height:18px;
  display:flex;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8069 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  letter-spacing:0.4px;
}
#u8071 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:172px;
  width:50px;
  height:16px;
  display:flex;
  font-size:12px;
  letter-spacing:0.4px;
}
#u8071 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8071_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8072 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:105px;
  width:60px;
  height:60px;
  display:flex;
}
#u8072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  letter-spacing:0.4px;
}
#u8074 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:172px;
  width:38px;
  height:16px;
  display:flex;
  font-size:12px;
  letter-spacing:0.4px;
}
#u8074 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8074_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8075 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:105px;
  width:60px;
  height:60px;
  display:flex;
}
#u8075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u8077 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:16px;
  width:9px;
  height:14px;
  display:flex;
}
#u8077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8078 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:11px;
  width:32px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u8078 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8078_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
