body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1070px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5655 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:93px;
  width:1070px;
  height:108px;
}
#u5656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u5656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  display:flex;
}
#u5656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u5657 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:175px;
  height:30px;
  display:flex;
}
#u5657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
}
#u5658 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:0px;
  width:430px;
  height:30px;
  display:flex;
}
#u5658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u5659 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:0px;
  width:138px;
  height:30px;
  display:flex;
}
#u5659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u5660 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:0px;
  width:183px;
  height:30px;
  display:flex;
}
#u5660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
}
#u5661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:144px;
  height:39px;
  display:flex;
}
#u5661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u5662 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:30px;
  width:175px;
  height:39px;
  display:flex;
}
#u5662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:39px;
}
#u5663 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:30px;
  width:430px;
  height:39px;
  display:flex;
}
#u5663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
}
#u5664 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:30px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u5665 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:30px;
  width:183px;
  height:39px;
  display:flex;
}
#u5665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
}
#u5666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:144px;
  height:39px;
  display:flex;
}
#u5666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u5667 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:69px;
  width:175px;
  height:39px;
  display:flex;
}
#u5667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:39px;
}
#u5668 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:69px;
  width:430px;
  height:39px;
  display:flex;
}
#u5668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
}
#u5669 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:69px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u5670 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:69px;
  width:183px;
  height:39px;
  display:flex;
}
#u5670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(37, 97, 239, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:31px;
  width:118px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5672 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5672_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(37, 97, 239, 0.8);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5672.mouseOver {
}
#u5672_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 51, 204, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5672.mouseDown {
}
#u5672_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 51, 204, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5672.mouseOver.mouseDown {
}
#u5672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5673 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:42px;
  width:14px;
  height:14px;
  display:flex;
}
#u5673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
