body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1070px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5840 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:93px;
  width:1070px;
  height:108px;
}
#u5841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u5841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  display:flex;
}
#u5841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u5842 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:175px;
  height:30px;
  display:flex;
}
#u5842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
}
#u5843 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:0px;
  width:430px;
  height:30px;
  display:flex;
}
#u5843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u5844 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:0px;
  width:138px;
  height:30px;
  display:flex;
}
#u5844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u5845 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:0px;
  width:183px;
  height:30px;
  display:flex;
}
#u5845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
}
#u5846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:144px;
  height:39px;
  display:flex;
}
#u5846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u5847 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:30px;
  width:175px;
  height:39px;
  display:flex;
}
#u5847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:39px;
}
#u5848 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:30px;
  width:430px;
  height:39px;
  display:flex;
}
#u5848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
}
#u5849 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:30px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u5850 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:30px;
  width:183px;
  height:39px;
  display:flex;
}
#u5850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
}
#u5851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:144px;
  height:39px;
  display:flex;
}
#u5851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u5852 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:69px;
  width:175px;
  height:39px;
  display:flex;
}
#u5852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:39px;
}
#u5853 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:69px;
  width:430px;
  height:39px;
  display:flex;
}
#u5853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
}
#u5854 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:69px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u5855 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:69px;
  width:183px;
  height:39px;
  display:flex;
}
#u5855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(37, 97, 239, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5857 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:31px;
  width:118px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5857 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5857_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(37, 97, 239, 0.8);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5857.mouseOver {
}
#u5857_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 51, 204, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5857.mouseDown {
}
#u5857_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 51, 204, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5857.mouseOver.mouseDown {
}
#u5857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5858 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:42px;
  width:14px;
  height:14px;
  display:flex;
}
#u5858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
