body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1070px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6520 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:93px;
  width:1070px;
  height:108px;
}
#u6521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u6521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  display:flex;
}
#u6521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u6522 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:175px;
  height:30px;
  display:flex;
}
#u6522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
}
#u6523 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:0px;
  width:430px;
  height:30px;
  display:flex;
}
#u6523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u6524 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:0px;
  width:138px;
  height:30px;
  display:flex;
}
#u6524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u6525 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:0px;
  width:183px;
  height:30px;
  display:flex;
}
#u6525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
}
#u6526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:144px;
  height:39px;
  display:flex;
}
#u6526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u6527 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:30px;
  width:175px;
  height:39px;
  display:flex;
}
#u6527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:39px;
}
#u6528 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:30px;
  width:430px;
  height:39px;
  display:flex;
}
#u6528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
}
#u6529 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:30px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u6530 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:30px;
  width:183px;
  height:39px;
  display:flex;
}
#u6530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
}
#u6531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:144px;
  height:39px;
  display:flex;
}
#u6531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u6532 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:69px;
  width:175px;
  height:39px;
  display:flex;
}
#u6532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:39px;
}
#u6533 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:69px;
  width:430px;
  height:39px;
  display:flex;
}
#u6533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
}
#u6534 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:69px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u6535 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:69px;
  width:183px;
  height:39px;
  display:flex;
}
#u6535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(37, 97, 239, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u6537 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:31px;
  width:118px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u6537 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6537_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(37, 97, 239, 0.8);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u6537.mouseOver {
}
#u6537_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 51, 204, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u6537.mouseDown {
}
#u6537_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 51, 204, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u6537.mouseOver.mouseDown {
}
#u6537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6538 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:42px;
  width:14px;
  height:14px;
  display:flex;
}
#u6538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
