body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1070px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5963 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:93px;
  width:1070px;
  height:108px;
}
#u5964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u5964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  display:flex;
}
#u5964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u5965 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:175px;
  height:30px;
  display:flex;
}
#u5965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
}
#u5966 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:0px;
  width:430px;
  height:30px;
  display:flex;
}
#u5966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u5967 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:0px;
  width:138px;
  height:30px;
  display:flex;
}
#u5967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u5968 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:0px;
  width:183px;
  height:30px;
  display:flex;
}
#u5968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
}
#u5969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:144px;
  height:39px;
  display:flex;
}
#u5969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u5970 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:30px;
  width:175px;
  height:39px;
  display:flex;
}
#u5970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:39px;
}
#u5971 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:30px;
  width:430px;
  height:39px;
  display:flex;
}
#u5971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
}
#u5972 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:30px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u5973 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:30px;
  width:183px;
  height:39px;
  display:flex;
}
#u5973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
}
#u5974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:144px;
  height:39px;
  display:flex;
}
#u5974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:69px;
  width:175px;
  height:39px;
  display:flex;
}
#u5975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:39px;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:69px;
  width:430px;
  height:39px;
  display:flex;
}
#u5976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:69px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:69px;
  width:183px;
  height:39px;
  display:flex;
}
#u5978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(37, 97, 239, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:31px;
  width:118px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5980 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5980_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(37, 97, 239, 0.8);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5980.mouseOver {
}
#u5980_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 51, 204, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5980.mouseDown {
}
#u5980_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 51, 204, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5980.mouseOver.mouseDown {
}
#u5980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:42px;
  width:14px;
  height:14px;
  display:flex;
}
#u5981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
