body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:851px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:192px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:459px;
  height:192px;
  display:flex;
}
#u951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:0px;
  width:375px;
  height:213px;
  display:flex;
}
#u952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:35px;
  width:114px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u953 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:132px;
  height:5px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:65px;
  width:129px;
  height:2px;
  display:flex;
}
#u954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:35px;
  width:104px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u955 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:24px;
  width:35px;
  height:32px;
  display:flex;
}
#u956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:24px;
  width:35px;
  height:32px;
  display:flex;
}
#u957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:80px;
  width:343px;
  height:104px;
  display:flex;
}
#u958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:99px;
  width:343px;
  height:16px;
  display:flex;
  text-align:center;
}
#u959 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:124px;
  width:343px;
  height:16px;
  display:flex;
  text-align:center;
}
#u960 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:146px;
  width:316px;
  height:30px;
  display:flex;
}
#u961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:91px;
  width:34px;
  height:31px;
  display:flex;
}
#u962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:420px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:263px;
  width:704px;
  height:420px;
  display:flex;
}
#u963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
